
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif,monospace;
}
:root{
    --black-color : rgb(15 23 42);
}
a{
    text-decoration: none;
}
/* navbar */
.navbar{
    padding:10px 0px;
    position: fixed;
    width: 100%;
    z-index: 99999;
    background: #fff;
}
.navbar .container ul li {
    transition: .3s;
    padding: 5px 15px;
}
.navbar .container ul li a{
    color: #000;
}
.navbar .container ul li:hover{
    background: rgb(241 245 249);
    color: #000;
    border-radius: 100px;
}
/* end navbar */
/* frontpage */
.frontpage{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* end frontpage */
/* swiper */
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  /* sign up */
.signup .container form .btn-submit{
        padding: 7px 9px;
        border: unset;
        border-radius: 15px;
        color: #212121;
        z-index: 1;
        background: #e8e8e8;
        position: relative;
        font-weight: 1000;
        font-size: 17px;
        -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
        box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
        transition: all 250ms;
        overflow: hidden;
       }
       
       .signup .container form .btn-submit::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        border-radius: 15px;
        background-color: #212121;
        z-index: -1;
        -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
        box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
        transition: all 250ms
       }
       
       
       .signup .container form .btn-submit:hover::before {
        width: 100%;
       }
  /* end sign up */
  .btn-image{
    padding: 8px 0px;
    text-align: center;
    border: 1px solid #74767e;
    background: none;
    border-radius: 3px;
    margin-top: 10px;
    transition: .3s;
  }
  .btn-image:hover{
    background: #74767e;
    color: #fff;
  }
  @media screen and (min-width:400px) {
    .h-60{
        height: 400px;
    }
  }